.footer {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 310px;
    background:rgba(242,242,242,1);
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover {
   text-decoration: underline;
}

body div a {
    color: black;
    text-decoration: none;
    margin: 20px;
}
 
.topnav {
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
}

.leftFooter {
   display: flex; 
   align-items: flex-start;
}

.rightFooter {
   display: flex; 
   align-items: flex-end;
}

.account {
   border-radius: 50%;
}

.round {
   height: 30%;
   width: 30%;
   padding-left: 10px;
   padding-right: 10px;
   border: 3px solid black;
}
